input, .input-group-addon {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0;
}


.panel-body {
  padding-bottom: 0px;
}

.data-header {
  font-size: 24px !important;
  font-weight: bold;

/*  background-color:  #777!important;
*/}

.subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-top: -4px;

}

.right-sidebar{
  padding-left: 15px;
  padding-top: 15px;
}

.crime-instance{
  padding-top: 10px;

}

.date{
  margin-top: -5px;
  font-style: italic;
  /*  background-color: #999999 !important;*/
  padding-top: .5px;
  padding-bottom: .5px;
  outline: none !important;
}

.crimetitle{
  font-weight: bold;
  font-size: 110%;
}

.hline{
  height: 2px;
  padding-right: 5px;
  width: 90%;
  background: black !important;
}


.filter-header {
  font-size: 24px !important;
  font-weight: bold;
}


#filter_bar {
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  width: 25%;
  max-width: 300px;
  max-height: 100%;
  overflow: scroll;
  background: white;
  float: left;
  margin-bottom: -5px;
  /*border-color: #47ABE4; */
  border-right: orange solid;
}

#banner_text{
  /*float: left;*/
}

#banner_logo {
  float: right;
  position: relative;
  top: -73px;
  left: -26px;
}

#data_bar {
  width: 33%;
  max-width: 400px;
  height: 100%;
  background: white;
  float: right;
  border-left: #45c3f2 solid;
  overflow: scroll;

}

#filter_lines{
  height:35px;
}

input[type=checkbox].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:29px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -24px;
}

input[type="radio"] {
    background-color:orange;
}

.toggle-btn-grp.cssonly * {
    width:100px;
    height:30px;
    line-height:30px;
    /*border:#47ABE4 !important;*/
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
    margin:5px 2px;
}

.toggle-btn-grp.cssonly div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
}

.toggle-btn-grp.cssonly div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.toggle-btn-grp.cssonly div:hover label {
    /*border:solid 1px #47ABE4 !important; */
    background:#ffd27f;
    /*background: #f1fdfe;*/
}

.toggle-btn-grp.cssonly div input:checked + label {
    background:orange;
    border:solid 1px orange !important; 
}


label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_386dc4744b6563661b3277496a81bd37.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#filter_boxes {
  margin-left: 24px;
}

#type_boxes {
  margin-left: 24px;
}
#container:after {
  content: " ";
  display: block;
}

#filter_content {
  /*margin-left: 10px;*/
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: black;
}

#map_wrapper {
  min-width: 50%;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#map {  width: 100%;
  min-height: 100%
}

#search_bar {
  max-width: 70ch;
  position: absolute;
  top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  left:0;
  right:0;
  margin-left:auto !important;
  margin-right:auto !important;
  z-index: 2;
}

#share_row{
  position: absolute;
  bottom: 30px ;
  right:0;
  margin-right:10px;
  right:0;
  z-index: 2;
}

#save-btn{
  margin-top: 10px;
}

#external_buttons{
  margin: 0 auto;
  max-height: 60px;
}

#share_map{
  margin: 0 auto;
  max-height: 400px;
}

#permalink{
  max-width: 600px;
  margin: 10px auto;
}







/*I've been looking for a lightweight, dependency free dual slider for some time (it seemed crazy to import jQuery just for this) and there don't seem to be many out there. I ended up modifying @Wildhoney's code a bit and really like it.*/

/*Hide code snippet*/

function getVals(){
  // Get slider values
  var parent = this.parentNode;
  var slides = parent.getElementsByTagName("input");
  var slide1 = parseFloat( slides[0].value );
  var slide2 = parseFloat( slides[1].value );
  // Neither slider will clip the other, so make sure we determine which is larger
  if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }

  var displayElement = parent.getElementsByClassName("rangeValues")[0];
  displayElement.innerHTML = slide1 + " - " + slide2;
}

window.onload = function(){
  // Initialize Sliders
  var sliderSections = document.getElementsByClassName("range-slider");
  for( var x = 0; x < sliderSections.length; x++ ){
    var sliders = sliderSections[x].getElementsByTagName("input");
    for( var y = 0; y < sliders.length; y++ ){
      if( sliders[y].type ==="range" ){
        sliders[y].oninput = getVals;
        // Manually trigger event first time to display values
        sliders[y].oninput();
      }
    }
  }
}
section.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  background-color: blue;
  border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
